
.day {

    display: flex;
    justify-content: center;
    align-items: center;

    //flex-basis: 12%;
    flex-grow: 1;
    flex-shrink: 0;

    box-sizing: border-box;
    padding: 1rem;
    margin: 8px;
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;

    background-color: var(--color-grey-light-4);
    backface-visibility: hidden;
    cursor: pointer;

    transition: all .2s ease-out;

    &:hover {
        
        background-color: var(--color-primary-light);
        transform: scale(1.05);
    }

    &.inactive {

        background-color: var(--color-grey-dark-3);
        cursor: default;

        &:hover {
            background-color: var(--color-grey-dark-2);
            transform: scale(1);
        }
    }

    &.today {
        border: 5px solid var(--color-primary);//width style color
        //background-color: var(--color-primary-light);
    }
    
}