/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./front-end/sass/main.scss ***!
  \*******************************************************************************************************************/
:root {
  /*** FONTS ***/
  --font-family-default: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /*** COLORS ***/
  /*
  --color-primary: #ea2e63;
  --color-primary-rgb: 234, 46, 99;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  */
  --color-primary: #55c57a;
  --color-primary-rgb: 85, 197, 122;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
}

html {
  box-sizing: border-box;
  font-family: var(--font-family-default);
}

body {
  box-sizing: inherit;
  margin: 0;
}

.main-header {
  color: #666;
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.2), rgba(187, 187, 187, 0.1));
  font-weight: 600;
  font-size: 5rem;
  font-family: var(--font-family-default);
  text-align: center;
  transition: all 0.5s ease-out;
  backface-visibility: hidden;
}
.main-header:hover {
  font-size: 5.2rem;
  transform: rotateZ(0.5deg);
}
/*!********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/App.module.scss ***!
  \********************************************************************************************************************************************************************/
.Cbdx5X23Dv_NkQKbgec4 {
  color: #666;
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.2), rgba(187, 187, 187, 0.1));
  font-weight: 600;
  font-size: 5rem;
  font-family: var(--font-family-default);
  text-align: center;
  transition: all 0.5s ease-out;
  backface-visibility: hidden;
}
.Cbdx5X23Dv_NkQKbgec4:hover {
  font-size: 5.2rem;
  transform: rotateZ(0.5deg);
}

.Go_jitcz_ErIZBHlf47g {
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.Dhtz_VY3Lz7JbGpJ0JGp {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
}
/*!********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Website/Website.module.scss ***!
  \********************************************************************************************************************************************************************************/
.V3pStHv7ce1vYICP5UpQ {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(135deg, #41D2F2, #0378A6);
}

.Jh_J_9XBl6N3CzhQPZ7b {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  background-color: transparent;
  padding: 1rem 5%;
  padding-top: 32px;
  max-height: 100px;
}
@media only screen and (max-width: 600px) {
  .Jh_J_9XBl6N3CzhQPZ7b {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: 300px;
  }
  .Jh_J_9XBl6N3CzhQPZ7b .UsBzPPLXuVCXFweKRmR9 {
    margin-top: 16px;
  }
}
.Jh_J_9XBl6N3CzhQPZ7b .gaxdgcSDHpB9AJ4gmw8W {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 32px;
}
.Jh_J_9XBl6N3CzhQPZ7b .gaxdgcSDHpB9AJ4gmw8W .iti3KapPXnvyLjKoDEUv {
  display: flex;
}
.Jh_J_9XBl6N3CzhQPZ7b .gaxdgcSDHpB9AJ4gmw8W .iti3KapPXnvyLjKoDEUv img {
  height: 80px;
  width: auto;
}
.Jh_J_9XBl6N3CzhQPZ7b .gaxdgcSDHpB9AJ4gmw8W .czMz11hqOwoXjCWRoEci {
  color: #F2F2F2;
  font-size: 32px;
  padding-left: 24px;
}
.Jh_J_9XBl6N3CzhQPZ7b .Pav8rJsZhwenu8_jYG6w ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Jh_J_9XBl6N3CzhQPZ7b .Pav8rJsZhwenu8_jYG6w ul li {
  margin-right: 1rem;
  font-weight: 600;
}
.Jh_J_9XBl6N3CzhQPZ7b .UsBzPPLXuVCXFweKRmR9 {
  font-size: 24px;
  font-weight: 400;
  color: #0378A6;
  background-color: #F2F2F2;
}
.Jh_J_9XBl6N3CzhQPZ7b .UsBzPPLXuVCXFweKRmR9:hover {
  background-color: #0378a6;
  color: #F2F2F2;
}

.HCyZIBIPlhEZTNLID6ch {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
  color: #403F3C;
  font-size: 2rem;
  font-weight: 600;
  padding: 32px 5%;
  padding-bottom: 64px;
}
.HCyZIBIPlhEZTNLID6ch .ZzdyrDpVkG7llawxfqMk {
  font-size: 64px;
}
.HCyZIBIPlhEZTNLID6ch .qg7cNRYh_IXiVOTsbqgq {
  font-size: 40px;
  font-style: italic;
}
.HCyZIBIPlhEZTNLID6ch .gpqlYfsDRLfV77W8BHYv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 45%;
  flex-grow: 1;
  order: 1;
  padding: 32px 16px;
  text-align: center;
}
.HCyZIBIPlhEZTNLID6ch ._pQrSehvUFLcdhXGBShs {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 45%;
  min-width: 400px;
  flex-grow: 1;
  order: 0;
  padding: 32px 16px;
}
.HCyZIBIPlhEZTNLID6ch ._pQrSehvUFLcdhXGBShs img {
  height: 90%;
  max-width: 500px;
}

.UsBzPPLXuVCXFweKRmR9 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #51bc05;
  color: #F2F2F2;
  font-size: 2rem;
  font-weight: 600;
  padding: 16px 16px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s ease-out;
}
.UsBzPPLXuVCXFweKRmR9:hover {
  cursor: pointer;
  background-color: #3c8a04;
}
.UsBzPPLXuVCXFweKRmR9 .vjodgn_XrAOCEfctn9Mm {
  font-size: 32px;
  padding-right: 16px;
}

.tJN6JNBsoBZkGfaSsdRI {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #403F3C;
  color: #F2F2F2;
  padding: 16px 5%;
  flex-wrap: wrap;
}
.tJN6JNBsoBZkGfaSsdRI .j19vJbw8DRZyJozChZAX {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 8px 16px;
}
.tJN6JNBsoBZkGfaSsdRI .j19vJbw8DRZyJozChZAX p {
  margin: 0;
  font-size: 16px;
}
@media only screen and (max-width: 750px) {
  .tJN6JNBsoBZkGfaSsdRI {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Calendar/CalendarMonth.module.scss ***!
  \***************************************************************************************************************************************************************************************/
/* Variables for CalendarMonth */
.vajs3ViQQPwf7GZgQb5d {
  --day-width: 3rem;
  --day-height: var(--day-width);
  --day-margin: 4px;
}

.vajs3ViQQPwf7GZgQb5d {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  margin-bottom: 16px;
}

._rvDXSDZYm__2193BYlp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
}
.DGB_XLdyv4gCIezU6w91 div {
  text-align: center;
  font-size: 1.2rem;
  width: var(--day-width);
  margin: var(--day-margin);
}

.fFEkh8nf6VFASW90TcPn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1rem;
  margin: var(--day-margin);
  width: var(--day-width);
  height: var(--day-height);
  border-radius: 0.5rem;
  background-color: var(--color-grey-light-4);
  backface-visibility: hidden;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.fFEkh8nf6VFASW90TcPn:hover {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.fFEkh8nf6VFASW90TcPn.arrxoSHmdzjwNXHVr1EG {
  background-color: var(--color-grey-dark-3);
  cursor: default;
}
.fFEkh8nf6VFASW90TcPn.arrxoSHmdzjwNXHVr1EG:hover {
  background-color: var(--color-grey-dark-2);
  transform: scale(1);
}
.fFEkh8nf6VFASW90TcPn.Cxjsbvbt9HaHCD_fxx7C {
  border: 5px solid var(--color-primary);
}

.rotEjZcYFMxjufZsnZgH {
  color: #555;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  flex-basis: 100%;
}

.Ab0b93e5OJkH6oZK_b_b {
  display: flex;
  justify-content: center;
  align-items: center;
}

.S43y75By4qvxPNLtig6U {
  cursor: pointer;
}
.S43y75By4qvxPNLtig6U span {
  font-size: 2.5rem;
  color: var(--color-primary-dark);
  transition: all 0.5s ease-out;
}
.S43y75By4qvxPNLtig6U span:hover {
  color: var(--color-primary-light);
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Calendar/TimeBlock.module.scss ***!
  \***********************************************************************************************************************************************************************************/
.yA_mXY8pL_jTDpkQNk3e {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}
.yA_mXY8pL_jTDpkQNk3e.KoYTf2A7hN4wxV_K0dG2 {
  background-color: green;
  cursor: pointer;
  border: 1px solid #006700;
}
.yA_mXY8pL_jTDpkQNk3e.KoYTf2A7hN4wxV_K0dG2:hover {
  background-color: #009a00;
}
.yA_mXY8pL_jTDpkQNk3e.KoYTf2A7hN4wxV_K0dG2.yfMS4m7ZqqHSrcck5VlQ {
  background-color: #00b300;
  border: 3px solid #004d00;
}
.yA_mXY8pL_jTDpkQNk3e.jqAY2AO95YomoLJGhjMs {
  background-color: var(--color-grey-dark-3);
}
.yA_mXY8pL_jTDpkQNk3e.Cxqu0R2BwrNnTmtVjBTs {
  background-color: var(--color-grey-dark-1);
}
.yA_mXY8pL_jTDpkQNk3e .qyiBfYr4tWKRknerMaLl {
  color: var(--color-grey-light-1);
  font-size: 1rem;
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Calendar/CalendarDay.module.scss ***!
  \*************************************************************************************************************************************************************************************/
.RKGN381OgNJGYU_NNTLR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.EZLfJSZ3ROHVR6Tq7Yym {
  color: #555;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.sq2bGhtkPrd_MVe_aKmk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.QOxRCJ0lEzUAgA4ZKsGt {
  cursor: pointer;
}
.QOxRCJ0lEzUAgA4ZKsGt span {
  font-size: 2.5rem;
  color: var(--color-primary-dark);
  transition: all 0.5s ease-out;
}
.QOxRCJ0lEzUAgA4ZKsGt span:hover {
  color: var(--color-primary-light);
}

.cNnsxdu66JSCej0ASlPN {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  flex-grow: 1;
  max-width: 500px;
  min-height: 600px;
}
/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/WizardForm/WizardForm.module.scss ***!
  \**************************************************************************************************************************************************************************************/
.Dlqe5HcBFTqWiwEn58Pu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  min-height: 600px;
  border-radius: 20px;
  background: linear-gradient(135deg, #ddd, #bbb);
}

.oWPcsWWQbjdsTSzOPChT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oWPcsWWQbjdsTSzOPChT .YNfISccLpMPgAIMPDKLq {
  font-size: 24px;
  padding: 8px 0;
  color: #403F3C;
}
.oWPcsWWQbjdsTSzOPChT .GhI2XKjuJt79R4b4QUu0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.fXBQZVNY_x1fGj4r0RcY {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  position: relative;
}
.fXBQZVNY_x1fGj4r0RcY .rd5Nk3Whro7oWlorKvj8 {
  position: absolute;
  left: 8px;
  font-size: 32px;
  color: #777;
  z-index: 1;
  padding: 0;
}
.fXBQZVNY_x1fGj4r0RcY .bC5I0HimWznypLN5LVGb {
  box-sizing: border-box;
  padding-left: 40px;
  min-width: 250px;
  min-height: 40px;
  border-radius: 10px;
  z-index: 0;
  color: #403F3C;
}
.fXBQZVNY_x1fGj4r0RcY .yXDIdBgmZs8TmF_NunGq {
  box-sizing: border-box;
  padding-left: 48px;
  min-width: 250px;
  min-height: 40px;
  border-radius: 10px;
  z-index: 0;
  background-color: #F2F2F2;
  color: #403F3C;
}

.awSp0v6VGsLP1etpFora {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.awSp0v6VGsLP1etpFora button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #403F3C;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease-out;
}
.awSp0v6VGsLP1etpFora .GswTRz_Uh6itfkBOUljR, .awSp0v6VGsLP1etpFora .YqzdUKo8qnykn8fQ9k0C, .awSp0v6VGsLP1etpFora .zh2GZ3sytsdH7Z5zaJBQ {
  min-width: 50px;
  min-height: 50px;
  font-size: 16px;
  padding: 16px;
  margin: 8px 0;
}
.awSp0v6VGsLP1etpFora .GswTRz_Uh6itfkBOUljR[disabled], .awSp0v6VGsLP1etpFora .YqzdUKo8qnykn8fQ9k0C[disabled], .awSp0v6VGsLP1etpFora .zh2GZ3sytsdH7Z5zaJBQ[disabled] {
  background-color: #888;
  color: #ccc;
}
.awSp0v6VGsLP1etpFora .GswTRz_Uh6itfkBOUljR:hover, .awSp0v6VGsLP1etpFora .YqzdUKo8qnykn8fQ9k0C:hover, .awSp0v6VGsLP1etpFora .zh2GZ3sytsdH7Z5zaJBQ:hover {
  filter: brightness(120%);
}
.awSp0v6VGsLP1etpFora .GswTRz_Uh6itfkBOUljR, .awSp0v6VGsLP1etpFora .zh2GZ3sytsdH7Z5zaJBQ {
  align-self: flex-end;
  background-color: #0378A6;
  color: #F2F2F2;
}
.awSp0v6VGsLP1etpFora .YqzdUKo8qnykn8fQ9k0C {
  align-self: flex-start;
  background-color: #049cd8;
  color: #F2F2F2;
}
.awSp0v6VGsLP1etpFora .zh2GZ3sytsdH7Z5zaJBQ {
  background-color: #51bc05;
  color: #F2F2F2;
}
.awSp0v6VGsLP1etpFora .rd5Nk3Whro7oWlorKvj8 {
  font-size: 32px;
}

.ojW7OrnliwLqRCwXd4hz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 250px;
  margin: 16px 0;
}
.ojW7OrnliwLqRCwXd4hz .k1R3eBj119uY_SZQN4_a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  font-size: 18px;
  color: #403F3C;
}
.ojW7OrnliwLqRCwXd4hz .k1R3eBj119uY_SZQN4_a ._ExBXJfiaNSySPBw54Av {
  padding-left: 16px;
}
.ojW7OrnliwLqRCwXd4hz .k1R3eBj119uY_SZQN4_a:hover .rd5Nk3Whro7oWlorKvj8 {
  filter: brightness(120%);
}
.ojW7OrnliwLqRCwXd4hz .rd5Nk3Whro7oWlorKvj8 {
  font-size: 40px;
  color: #049cd8;
}

._qUyGt31zY5XDBcMkUyk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
._qUyGt31zY5XDBcMkUyk .rd5Nk3Whro7oWlorKvj8 {
  font-size: 160px;
  padding-bottom: 32px;
}
._qUyGt31zY5XDBcMkUyk .wDCPlnr2omc1lc8Zox6b {
  color: #51bc05;
}
._qUyGt31zY5XDBcMkUyk .tMTIGyIK4LL_vtGVyZH7 {
  color: red;
}
._qUyGt31zY5XDBcMkUyk .UV9D1faEeubfqyTX2Dpc {
  font-size: 36px;
  padding: 16px 0;
}
._qUyGt31zY5XDBcMkUyk .WPCF6gcCnJOWxTUFqQDk {
  white-space: pre-wrap;
  text-align: center;
  max-width: 50%;
  min-width: 300px;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}
._qUyGt31zY5XDBcMkUyk .awSp0v6VGsLP1etpFora {
  justify-content: center;
}
._qUyGt31zY5XDBcMkUyk .awSp0v6VGsLP1etpFora button {
  min-width: 80px;
  min-height: 40px;
  border-radius: 10px;
}

input, select {
  font-size: 16px;
  height: 30px;
  border-radius: 5px;
}

button {
  min-width: 50px;
  height: 30px;
  margin: 16px;
}
/*!******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Button/Button.module.scss ***!
  \******************************************************************************************************************************************************************************/
.iRp4nABkpjjEuQhubJvZ {
  padding: 1rem;
  font-size: 48px;
  color: white;
  background-image: linear-gradient(to right bottom, green, lightgreen);
  border-radius: 50%;
  cursor: pointer;
}
/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Modal/Modal.module.scss ***!
  \****************************************************************************************************************************************************************************/
.r8xbIBsg8okDjWosKsWO {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wcNfIsbxzHHpyhNe25YH {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 100;
}

.NdlAwT1U7sTAqG0R0egc {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}
