/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./front-end/sass/main.scss ***!
  \*******************************************************************************************************************/
:root {
  /*** FONTS ***/
  --font-family-default: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /*** COLORS ***/
  /*
  --color-primary: #ea2e63;
  --color-primary-rgb: 234, 46, 99;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  */
  --color-primary: #55c57a;
  --color-primary-rgb: 85, 197, 122;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
}

html {
  font-family: var(--font-family-default);
}

body {
  box-sizing: border-box;
  background-color: rgba(var(--color-primary-rgb), 0.2);
}

.main-header {
  color: #666;
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.2), rgba(187, 187, 187, 0.1));
  font-weight: 600;
  font-size: 5rem;
  font-family: var(--font-family-default);
  text-align: center;
  transition: all 0.5s ease-out;
  backface-visibility: hidden;
}
.main-header:hover {
  font-size: 5.2rem;
  transform: rotateZ(0.5deg);
}
/*!********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/App.module.scss ***!
  \********************************************************************************************************************************************************************/
.Cbdx5X23Dv_NkQKbgec4 {
  color: #666;
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.2), rgba(187, 187, 187, 0.1));
  font-weight: 600;
  font-size: 5rem;
  font-family: var(--font-family-default);
  text-align: center;
  transition: all 0.5s ease-out;
  backface-visibility: hidden;
}
.Cbdx5X23Dv_NkQKbgec4:hover {
  font-size: 5.2rem;
  transform: rotateZ(0.5deg);
}

.Dhtz_VY3Lz7JbGpJ0JGp {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
}
/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Calendar/CalendarMonth.module.scss ***!
  \***************************************************************************************************************************************************************************************/
.vajs3ViQQPwf7GZgQb5d {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ccc, #fff);
}

._rvDXSDZYm__2193BYlp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 2rem;
}
.DGB_XLdyv4gCIezU6w91 div {
  text-align: center;
  font-size: 1.2rem;
  width: 4rem;
  margin: 8px;
}

.rotEjZcYFMxjufZsnZgH {
  color: #555;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  flex-basis: 100%;
}

.Ab0b93e5OJkH6oZK_b_b {
  display: flex;
  justify-content: center;
  align-items: center;
}

.S43y75By4qvxPNLtig6U {
  cursor: pointer;
}
.S43y75By4qvxPNLtig6U span {
  font-size: 2.5rem;
  color: var(--color-primary-dark);
  transition: all 0.5s ease-out;
}
.S43y75By4qvxPNLtig6U span:hover {
  color: var(--color-primary-light);
}
/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Calendar/CalendarMonthDay.module.scss ***!
  \******************************************************************************************************************************************************************************************/
.QvhPPpdvCtHCVy4mGSFV {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1rem;
  margin: 8px;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--color-grey-light-4);
  backface-visibility: hidden;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.QvhPPpdvCtHCVy4mGSFV:hover {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.QvhPPpdvCtHCVy4mGSFV.Q7z2vWqe3HphYmpDRMh1 {
  background-color: var(--color-grey-dark-3);
  cursor: default;
}
.QvhPPpdvCtHCVy4mGSFV.Q7z2vWqe3HphYmpDRMh1:hover {
  background-color: var(--color-grey-dark-2);
  transform: scale(1);
}
.QvhPPpdvCtHCVy4mGSFV.FRdUvWJfMXOzIhIng7_T {
  border: 5px solid var(--color-primary);
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Calendar/TimeBlock.module.scss ***!
  \***********************************************************************************************************************************************************************************/
.yA_mXY8pL_jTDpkQNk3e {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  background-color: lightblue;
}
.yA_mXY8pL_jTDpkQNk3e.KoYTf2A7hN4wxV_K0dG2 {
  background-color: green;
  cursor: pointer;
  border: 1px solid #006700;
}
.yA_mXY8pL_jTDpkQNk3e.KoYTf2A7hN4wxV_K0dG2:hover {
  background-color: #009a00;
}
.yA_mXY8pL_jTDpkQNk3e.jqAY2AO95YomoLJGhjMs {
  background-color: var(--color-grey-dark-3);
}
.yA_mXY8pL_jTDpkQNk3e.Cxqu0R2BwrNnTmtVjBTs {
  background-color: var(--color-grey-dark-1);
}
.yA_mXY8pL_jTDpkQNk3e .qyiBfYr4tWKRknerMaLl {
  color: var(--color-grey-light-1);
  font-size: 1rem;
}
/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Calendar/CalendarDay.module.scss ***!
  \*************************************************************************************************************************************************************************************/
.RKGN381OgNJGYU_NNTLR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ccc, #fff);
}

.EZLfJSZ3ROHVR6Tq7Yym {
  color: #555;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.sq2bGhtkPrd_MVe_aKmk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.QOxRCJ0lEzUAgA4ZKsGt {
  cursor: pointer;
}
.QOxRCJ0lEzUAgA4ZKsGt span {
  font-size: 2.5rem;
  color: var(--color-primary-dark);
  transition: all 0.5s ease-out;
}
.QOxRCJ0lEzUAgA4ZKsGt span:hover {
  color: var(--color-primary-light);
}

.cNnsxdu66JSCej0ASlPN {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  flex-grow: 1;
  max-width: 500px;
  min-height: 600px;
}
/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Modal/Modal.module.scss ***!
  \****************************************************************************************************************************************************************************/
.r8xbIBsg8okDjWosKsWO {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wcNfIsbxzHHpyhNe25YH {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.NdlAwT1U7sTAqG0R0egc {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}
/*!******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./front-end/components/Button/Button.module.scss ***!
  \******************************************************************************************************************************************************************************/
.iRp4nABkpjjEuQhubJvZ {
  padding: 1rem;
  font-size: 48px;
  color: white;
  background-image: linear-gradient(to right bottom, green, lightgreen);
  border-radius: 50%;
  cursor: pointer;
}
