{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}App title{% endblock %}</title>

        <!-- Google's Material Design Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Bundled SCSS & CSS by Webpack -->
        <link href="{% static 'main.css' %}" rel="stylesheet">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <!-- Bundled JS by Webpack -->
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
