.wizard-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
