.modal-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);

    backdrop-filter: blur(8px);

    // Display above the website elements
    z-index: 100;
}

.modal-contents {

    display: flex;
    justify-content: center;
    align-items: center;

    // Display above the backdrop
    z-index: 110;
}
